#top_nav {
    height: 10vh;
    border: 0px solid pink;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

#top_nav > * {
    margin-left: 2vw;
}


#top_nav > h1 {
    margin-top: 2.5vh;
    padding-left: 1vw;
    display: inline;
    border-right: 2px solid rgba(66, 66, 66, 0.793);
    padding-right: 2vw;
}

#top_nav > a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;

}

#first_link {
    border-bottom: 2px solid rgba(66, 133, 244);
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
}

body, #container {
    background-color: rgba(0, 0, 0, .01);
}

body {
    margin: 0;
    padding: 0;
}

#body_div > h1 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
}

#body_div {
    margin: auto;
    padding-top: 3vh;
}

#body_container > div > img {
    height: 15vh;
    margin-left: 9vw;
    margin-top: 4vh;
    opacity: .8;
}

#body_container > div > p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    color: rgba(0, 0, 0);
}

#body_container > div {
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    
}

#body_container {
    display: grid;
    margin: auto;
    width: 78vw;
    column-gap: 1.5vw;
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: 33vh;
    border: 0px solid pink;
    margin-top: 7vh;
}

#container_two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: auto;
    height: 12vh;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 40px;
    margin-top: 8vh;
}

#container_two > h2 {
    font-size: 40px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

}

#container_two > p {
    text-align: center;
    font-size: 20px;
    background-color: rgb(31, 113, 49);
    border-radius: 15px;
    width: 9vw;
    margin-left: 3vw;
    padding: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#container_three {
    height: 55vh;
    width: 84vw;
    column-gap: 1.5vw;
    row-gap: 4vh;
    margin: auto;
    display: grid;
    grid-template-columns: 27vw 27vw 27vw;
    grid-template-rows: 22vh 22vh;
    border: 0px solid pink;
}

#why_us_div {
    border-top: 1px solid rgba(0, 0, 0, .4);
    margin-top: 15vh;
    width: 90vw;
    margin-left: 5vw;
}

#why_us {
    font-size: 45px;  
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    width: 80vw;
    text-align: left;
    padding-left: 5vw;
    padding-top: 3vh;
}

#container_three > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 15px;
}

#container_three > div > img {
    width: 4vw;
    margin-left: 2vw;
    padding-top: 0vh;
    opacity: .8;
}

#container_three > div > p {
    font-size: 16px;
    text-align: left;
    margin-left: 1vw;
    color: rgba(0, 0, 0, .9);
    margin-right: 0.5vw;
    font-family: 'Roboto', sans-serif;
    
}

#container_four {
    width: 92vw;
    height: 80vh;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    margin: auto;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 33vh 33vh;
    column-gap: 1vw;
    row-gap: 3vh;
    margin-top: 7.5vh;
    border: 0px solid pink;
}

#container_four > div {
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 15px;
}

#container_four > div > div {
    display: flex;
    padding-top: 2vh;
    justify-content: center;
    align-items: center;
}

#container_four > div > div > img {
    width: 3vw;
    opacity: .8;
    padding-right: 1vw;
}

#container_four > div > p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    width: 90%;
    padding-top: 2vh;
    color: rgba(0, 0, 0, .7);
    margin: auto;
}

#container_four > div > div > h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#how_it_works {
   border-top: 1px solid rgba(0, 0, 0, .4);
    width: 90vw;
    margin-top: 7.5vh;
    margin-left: 5vw;
}

#how_it_works > h2 {
    font-size: 45px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    width: 20vw;
    text-align: left;
    padding-left: 5vw;
    border: 0px solid rgba(0, 0, 0, .4);
    padding-top: 3vh;   
}