<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">

    <body>

  <div id="top_nav">
    <h1>WebBoard</h1>
    <a id="first_link" href="/">Home</a>
    <a href="/customer">About</a>
    <a href="/marketing">Price</a>
    <a href="/database">Features</a>
    <a href="/help">Contact</a>
  </div>

  <div id="body_div">
  <h1>Clean, Modern Websites at a Market-Low Price</h1>
  </div>

  <div id="body_container">
  <div>
    <img src="static/artist.png">
    <p>Showcase symmetry,
      aethetic, balance, & other modern design principles
    </p>
  </div>

  <div>
    <img src="static/programming-course.png">
    <p>Spend less with our built-from-scratch,
      self-hosted websites
    </p>
  </div>

  <div>
    <img src="static/statistics.png">
    <p>Leverage insights from our provided
      website analytics
    </p>
  </div>

  </div>

  <div id="container_two">
  <h2>Starting at just $9.99 per month</h2>
    <p>Get Started</p>
  </div>

   <div id="why_us_div"> <h2 id="why_us">Why Us?</h2></div>

  <div id="container_three">

    <div>
      <img src="static/profits.png">
      <p>Spend less with cost-optimized web
        servers & efficient programming designs
      </p>
    </div>

    <div>
      <img src="static/toolkit.png">
      <p>Complete design flexibility through 
        minimal 3rd party dependencies
      </p>
    </div>

    <div>
      <img src="static/dashboard.png">
      <p>More insights with SEO, advertising,
       social media, website, & other analytics
      </p>
    </div>

    <div>
      <img src="static/engineering.png">
      <p>Better impressions with fast page loads,
        minimal downtime, & flexible device interfaces
      </p>
    </div>

    <div>
      <img src="static/sales-funnel.png">
      <p>More customers with a traffic producing blog & a 
        converting email campaign
      </p>
    </div>

    <div>
      <img src="static/insignia.png">
      <p>Use our industry best-practices & the most
        current web technology
      </p>
    </div>

  </div>


  <div id="container_four">
    <h2>How it Works</h2>
  </div>

  </body>


</html>