<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">

    <body>

  <div id="top_nav">
    <h1>WebBoard</h1>
    <a id="first_link" href="/">Home</a>
    <a href="/customer">About</a>
    <a href="/marketing">Price</a>
    <a href="/database">Features</a>
    <a href="/help">Contact</a>
  </div>

  <div id="body_div">
  <h1>Clean, Modern Websites at a Market-Low Price</h1>
  </div>

  <div id="body_container">
  <div>
    <img src="static/artist.png">
    <p>Showcase symmetry,
      aethetic, balance, & other modern design principles
    </p>
  </div>

  <div>
    <img src="static/programming-course.png">
    <p>Spend less with our built-from-scratch,
      self-hosted websites
    </p>
  </div>

  <div>
    <img src="static/statistics.png">
    <p>Leverage insights from our provided
      website analytics
    </p>
  </div>

  </div>

  <div id="container_two">
  <h2>Starting at just $9.99 per month</h2>
    <p>Get Started</p>
  </div>

   <div id="why_us_div"> <h2 id="why_us">Why Us?</h2></div>

  <div id="container_three">

    <div>
      <img src="static/profits.png">
      <p>Spend less with cost-optimized web
        servers & efficient programming designs
      </p>
    </div>

    <div>
      <img src="static/toolkit.png">
      <p>Complete design flexibility through 
        minimal 3rd party dependencies
      </p>
    </div>

    <div>
      <img src="static/dashboard.png">
      <p>More insights with SEO, advertising,
       social media, website, & other analytics
      </p>
    </div>

    <div>
      <img src="static/engineering.png">
      <p>Better impressions with fast page loads,
        minimal downtime, & flexible device interfaces
      </p>
    </div>

    <div>
      <img src="static/sales-funnel.png">
      <p>More customers with a traffic producing blog & a 
        converting email campaign
      </p>
    </div>

    <div>
      <img src="static/insignia.png">
      <p>Use our industry best-practices & the most
        current web technology
      </p>
    </div>

  </div>

  <div id="how_it_works"><h2>How it Works</h2></div>

  <div id="container_four">
   
    <div>
     <div>
      <img src="static/computer.png">
      <h2>Hardware</h2>
     </div>
     <p>The servers running your website will have
      16GB RAM, 1TB storage, and a 2.6ghz CPU.  Apart from 
      the web servers, mutiple routers will be used to 
      load balance traffic and actively check the downstream 
      servers' health.  Firewalls, IP whitelisting, and virtual
      enviroments will be used to establish a secure network
      and transactions.
     </p>
    </div>

    <div>
      <div>
       <img src="static/linux.png">
       <h2>Operating System</h2>
      </div>
      <p>The Apache web server OS will be run ontop of our hardware 
        to create website effeciency. Firewalls, IP whitelisting, and virtual
        enviroments will be used to establish a secure network
        and enviroment.  Regular software updates and patching
        will ensure the OS meets the most current security
        and peformance standards.
      </p>
     </div>

     <div>
      <div>
       <img src="static/code.png">
       <h2>Front-End</h2>
      </div>
      <p>HTML, CSS, and Javascript will render your website 
        in the client's web browser.  All three languages 
        are used in their "vanilla" form.  This pure programming style allows
        complete design flexibility, avoiding the limitations 
        of 3rd party frameworks.
      </p>
     </div>

     <div>
      <div>
       <img src="static/python.png">
       <h2>Back-End</h2>
      </div>
      <p>Python will operate on the backend, allowing efficient 
        client-server communication, transparent logging,
        and faster development.  Python's Flask library will 
        serve client requests along with offer flexible 
        web functionality through it's open-source framework.
      </p>
     </div>

     <div>
      <div>
       <img src="static/server.png">
       <h2>Database</h2>
      </div>
      <p>A SQL database will store and allow queries on your 
        website, client, transaction, SEO, and other 
        data sources.  This relational scheme allows more complex 
        queries along with a more strctured storage format.
        A backup, replicated database will create redundancy 
        in case of erros with the primary DB.  
      </p>
     </div>

     <div>
      <div>
       <img src="static/dashboard2.png">
       <h2>Analytics</h2>
      </div>
      <p>Your database, backend, and front-end will all 
        communicate through REST APIs & SOAP messaging 
        to exchange and store your data.  After storage,
        Python will generate analytical reports by querying 
        your database and processing the resulting data. These
        reports can measure time intervals,
        correlations, predictions, and other analytical 
        approaches.
      </p>
     </div>


  </div>

  </body>


</html>