<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<body>

  <div id="top_nav">
    <h1>DataBoard</h1>
    <a href="/">Home</a>
    <a href="/customer">Customer</a>
    <a id="first_link" href="/marketing">Financial</a>
    <a href="database">Database</a>
    <a href="/help">Help</a>
  </div>

  <div id="filters">
    <p id="first_filter">Week</p>
    <p>Month</p>
    <p>Quarter</p>
    <p>Year </p>
  </div>

    <div id="container">
        <div id="graph1"></div>
        <div id="graph2"></div>
        <div id="graph3"></div>
        <div id="graph4"></div>
        <div id="graph5"></div>
        <div id="graph6"></div>

    </div>


</body>

<script>
    var trace1 = {
  x: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
  y: [12, 15, 13, 17, 19],
  type: 'scatter',
  name: "Rev.",
  marker: {color: 'rgba(66, 133, 244,.5)'}
};

var trace2 = {
  x: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
  y: [6, 5, 8, 9, 11],
  type: 'scatter',
  name: "Cost",
  marker: {color: 'rgba(219, 68, 55,.5)'}
};

var trace3 = {
  x: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
  y: [10, 10, 11, 13, 15],
  type: 'scatter',
  name: "Profit",
  marker: {color: 'rgba(15 ,157 ,88,.5)'}
};

var data = [trace1, trace2, trace3];

var layout = {
  xaxis: {
    showgrid: false,
    zeroline: true,
    showline: true},
    yaxis: {
    showgrid: false,
    zeroline: true,
    showline: true},
  title: {
    text:'Profit: $1,500'},
  margin: {
    l: 30,
    r: 0,
    b: 30,
    t: 45,
  }
};

var config = {
  displayModeBar: false, // this is the line that hides the bar.
};

Plotly.newPlot('graph1', data, layout, config);

var data = [
  {
    x: ['Prod-1', 'Prod-2', 'Serv-1','Serv-2'],
    y: [20, 14, 23, 19],
    type: 'bar',
    marker: {color: 'rgba(66, 133, 244,.3)'}
  }
];

var layout = {
  xaxis: {
    showgrid: false,
    zeroline: true,
    showline: true},
    yaxis: {
    showgrid: false,
    zeroline: true,
    showline: true},
  title: {
    text:'Sales: 65 units'},
  margin: {
    l: 30,
    r: 15,
    b: 30,
    t: 45,
  }
};


var config = {
  displayModeBar: false, // this is the line that hides the bar.
};

Plotly.newPlot('graph2', data, layout, config);

var trace1 = {
  x: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
  y: [2, 5, 3, 7, 8],
  fill: 'tozeroy',
  type: 'scatter',
  fillcolor: 'rgba(15, 157, 88,.15)',
  line: {color: '#0F9D58'}
};

var data = [trace1];

var layout = {
  xaxis: {
    showgrid: false,
    zeroline: true,
    showline: true},
    yaxis: {
    showgrid: false,
    zeroline: true,
    showline: true},
  title: {
    text:'Cash Balance: $8,000'},
  margin: {
    l: 30,
    r: 15,
    b: 30,
    t: 45,
  }
};

var config = {
  displayModeBar: false, // this is the line that hides the bar.
};

Plotly.newPlot('graph3', data, layout, config);


var trace1 = {
  x: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
  y: [10, 15, 13, 17, 19],
  type: 'scatter',
  marker: {color: 'rgba(66, 133, 244,.5)'}
};

var data = [trace1];

var layout = {
  xaxis: {
    showgrid: false,
    zeroline: true,
    showline: true},
    yaxis: {
    showgrid: false,
    zeroline: true,
    showline: true},
  title: {
    text:'Prediction: $19,000'},
  margin: {
    l: 30,
    r: 0,
    b: 30,
    t: 45,
  }
};

var config = {
  displayModeBar: false, // this is the line that hides the bar.
};

Plotly.newPlot('graph4', data, layout, config);

var trace1 = {
  x: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
  y: [10000, 9000, 8000, 5000, 4500],
  fill: 'tozeroy',
  type: 'scatter',
  fillcolor: 'rgba(219, 68, 55,.15)',
  line: {color: '#DB4437'}
};

var data = [trace1];

var layout = {
  xaxis: {
    showgrid: false,
    zeroline: true,
    showline: true},
    yaxis: {
    showgrid: false,
    zeroline: false,
    showline: true},
  title: {
    text:'Debt: $4,500'},
  margin: {
    l: 40,
    r: 15,
    b: 40,
    t: 45,
    pad: 0
  }
};

var config = {
  displayModeBar: false, // this is the line that hides the bar.
};

Plotly.newPlot('graph5', data, layout, config);

var data = [
  {
    x: ['Operation', 'Payroll', 'C.O.G.S.','Other'],
    y: [20, 14, 23, 9],
    type: 'bar',
    marker: {color: 'rgba(219, 68, 55,.3)'}
  }
];

var layout = {
  xaxis: {
    showgrid: false,
    zeroline: true,
    showline: true},
    yaxis: {
    showgrid: false,
    zeroline: true,
    showline: true},
  title: {
    text:'Cost: $6,600'},
  margin: {
    l: 30,
    r: 0,
    b: 30,
    t: 45,
  }
};

var config = {
  displayModeBar: false, // this is the line that hides the bar.
};

Plotly.newPlot('graph6', data, layout, config);

</script>


</html>